.btn {
	display: block;
	width: 100%;
	font-weight: 500;
	color: #ffffff;
	border-radius: 3px;
	background-color: #51b2e8;
	padding: 11px 10px;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	border: 0;
}
.btn:hover {
	background-color: #4699c7;
}
.btn.btn-purple {
	background-color: #b84583;
}
.btn.btn-purple:hover {
	background-color: #9e3b70;
}
.btn.btn-circle {
	max-width: 220px;
	font-size: 19px;
	border-radius: 100px;
	margin: 0 auto;
	background-color: #4e778e;
	padding: 20px 10px;
}
.btn.btn-circle:hover {
	background-color: #3a596b;
}

.ekr {
	padding: 50px 0;
}
.ekr.ekr-left {
	text-align: left;
}
.ekr.ekr-grey {
	background-color: #f5f5f5;
}

.b-title {
	display: block;
	font-size: 32px;
	font-weight: 700;
}

.b-text {
	font-size: 16px;
	text-align: left;
}
.b-text p {
	display: block;
}
.b-text img {
	display: block;
	max-width: 100%;
}
.b-text h4, .b-text h3 {
	display: block;
	font-size: 22px;
	font-weight: 700;
}

.header {
	position: relative;
	width: 100%;
	z-index: 100;
	left: 0;
	top: 0;
}
.body-wrap.main .header {
	position: absolute;
}
.header-top {
	padding: 25px 0;
	background-color: rgba(38, 53, 61, 0.8);
}
.header-top .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	width: 100%;
	max-width: 274px;
}
.header-logo img {
	display: block;
	max-width: 100%;
}
.header-callback {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 439px;
}
.header-callback .btn {
	font-weight: 700;
	max-width: 240px;
	font-size: 16px;
}
.header-callback .phone {
	margin-left: 52px;
	font-weight: 500;
	color: #ffffff;
	font-size: 12px;
	text-align: left;
}
.header-callback .phone a {
	display: inline-block;
	position: relative;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;
}
.header-callback .phone a:before {
	content: '';
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url('../i/phone-icon.svg');
	position: absolute;
	left: -22px;
	top: calc(50% - 8px);
}
.header-callback .phone span {
	display: block;
}
.header-bot {
	background-color: #4e778e;
}
.header-bot .nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.header-bot .nav li {
	margin-right: 50px;
	font-size: 16px;
	color: #ffffff;
	font-weight: 900;
	text-transform: uppercase;
}
.header-bot .nav li:last-child {
	margin-right: 0;
}
.header-bot .nav li a,
.header-bot .nav li span {
	display: block;
	color: #ffffff;
	padding: 15px 0;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-bot .nav li a:hover,
.header-bot .nav li span:hover {
	opacity: 0.5;
}
.header-bot .nav li.active a:before,
.header-bot .nav li.active span:before {
	content: '';
	width: 100%;
	height: 6px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #52b2e8;
}
.header-mobile {
	display: none;
	justify-content: space-between;
	align-items: center;
	background-color: #4e778e;
}
.header-mobile .callback {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95px;
}
.header-mobile .callback .phone {
	display: block;
	width: 21px;
}
.header-mobile .callback .callback-a {
	display: block;
	width: 59px;
}
.header-mobile .callback a img {
	display: block;
	max-width: 100%;
}
.mobile-menu-top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #151d22;
}
.mobile-menu-top .callback {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 185px;
}
.mobile-menu-top .callback .phone {
	display: block;
	width: 21px;
}
.mobile-menu-top .callback .phone img {
	display: block;
	max-width: 100%;
}
.mobile-menu-top .callback .callback-a {
	display: block;
	width: 100%;
	max-width: 140px;
	padding: 14.5px 10px;
	font-weight: 700;
	color: #ffffff;
	font-size: 17px;
	position: relative;
	background-color: #b84583;
}
.mobile-menu-top .callback .callback-a:before {
	content: '';
	width: 0;
	height: 0;
	border-right: 5px solid #b84583;
	border-left: 5px solid transparent;
	border-top: 25px solid transparent;
	border-bottom: 25px solid #b84583;
	position: absolute;
	left: -10px;
	top: 0;
}
.mobile-menu .nav {
	padding-bottom: 15px;
	border-bottom: 1px solid #151d22;
}
.mobile-menu .nav li {
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 900;
}
.mobile-menu .nav li a,
.mobile-menu .nav li span {
	display: block;
	padding: 10px 30px;
	color: #ffffff;
}
.mobile-menu .nav li.active a,
.mobile-menu .nav li.active span {
	background-color: #4e778e;
}
.mobile-menu-bot {
	padding: 15px 0;
}
.mobile-menu-bot .phone {
	position: relative;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	text-align: left;
	padding-left: 50px;
	font-size: 12px;
	font-weight: 500;
	color: #ffffff;
}
.mobile-menu-bot .phone a {
	display: inline-block;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;
}
.mobile-menu-bot .phone a:before {
	content: '';
	width: 33px;
	height: 33px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/phone-icon.svg');
	position: absolute;
	left: 0;
	top: calc(50% - 16.5px);
}
.mobile-menu-bot .phone span {
	display: block;
}
.mobile-menu-bot .wa-btn {
	display: block;
	width: 100%;
	max-width: 260px;
	padding: 12px 10px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 500;
	border-radius: 100px;
	background-color: #04ab29;
	margin: 15px auto 0;
}
.mobile-menu-bot .mobile-logo {
	width: 100%;
	max-width: 70px;
	margin: 15px auto 0;
}
.mobile-menu-bot .mobile-logo img {
	display: block;
	max-width: 100%;
}

.footer-contacts {
	position: relative;
	padding: 35px 0;
}
.body-wrap.cont .footer-contacts {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	min-height: calc(100vh - 165px);
}
.footer-contacts .wrap {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 290px;
	border-bottom: 15px solid #ffffff;
	padding: 20px;
	color: #ffffff;
	text-align: left;
	background-color: #4e778e;
}
.footer-contacts .wrap .title {
	display: block;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 15px;
}
.footer-contacts .wrap .item {
	margin-bottom: 15px;
	font-size: 16px;
}
.footer-contacts .wrap .item .item-title {
	display: block;
	font-size: 16px;
	font-weight: 700;
}
.footer-contacts .wrap .item p {
	display: block;
}
.footer-contacts .wrap .item p a {
	color: #ffffff;
}
.footer-contacts .map {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.footer-mid {
	padding: 25px 0;
	background-color: #2c3c46;
}
.footer-logo {
	display: block;
	width: 100%;
	max-width: 274px;
	margin: 0 auto;
}
.footer-logo img {
	display: block;
	max-width: 100%;
}
.footer-bot {
	padding: 5px 0;
	background-color: #213039;
}
.footer-bot p {
	display: block;
	font-size: 10px;
	font-weight: 600;
	color: #ffffff;
	opacity: 0.3;
}

.face {
	padding: 165px 0 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../i/face-fon.jpg');
	color: #ffffff;
}
.face .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.face .content {
	width: calc(100% - 376px);
	padding: 50px 0;
	text-align: left;
}
.face .title {
	display: block;
	font-size: 56px;
	font-weight: 700;
}
.face .title span {
	border-bottom: 10px solid #51b2e8;
}
.face .image {
	width: 100%;
	max-width: 346px;
	background-color: rgba(81, 178, 231, 0.2);
}
.face .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-steps {
	text-align: left;
}
.b-steps .wrap {
	display: inline-block;
	width: 100%;
	padding: 30px;
	background-color: #ffffff;
	box-shadow: 0 0 60px 0 rgba(0,0,0,0.15);
	margin-top: -50px;
}
.b-steps ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-steps ul li {
	width: calc(25% - 15px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-right: 36px;
	position: relative;
}
.b-steps ul li:last-child {
	padding-right: 0;
}
.b-steps ul li:before {
	content: '';
	width: 26px;
	height: 14px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('../i/step-arr.svg');
	position: absolute;
	right: 0;
	top: 23px;
}
.b-steps ul li:last-child:before {
	content: none;
}
.b-steps ul li img {
	display: block;
	max-width: 80px;
	max-height: 60px;
	margin-right: 15px;
}
.b-steps ul li .text .name {
	font-size: 20px;
	font-weight: 700;
}
.b-steps ul li .text p {
	display: block;
	margin-top: 5px;
	font-size: 16px;
	opacity: 0.6;
}

.b-catalog {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 50px;
}
.b-catalog.slider {
	display: block;
	margin-bottom: 30px;
}
.b-catalog.slider .slick-track {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.b-catalog li {
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 50px;
	background-color: #ffffff;
	box-shadow: 0 0 40px 0 rgba(0,0,0,0.15);
	position: relative;
	padding-top: 10px;
	text-align: left;
}
.b-catalog li:nth-child(4n) {
	margin-right: 0;
}
.b-catalog.slider li {
	width: auto;
	max-width: none;
	height: auto;
	margin: 15px 15px 20px !important;
}
.b-catalog li.discount:before {
	content: '';
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-bottom-color: #b84583;
	border-right-color: #b84583;
	position: absolute;
	right: 0;
	bottom: 0;
}
.b-catalog li.discount:after {
	content: '%';
	font-size: 23px;
	font-weight: 700;
	color: #ffffff;
	line-height: 1;
	position: absolute;
	right: 4px;
	bottom: 4px;
}
.b-catalog li .image {
	position: relative;
	width: 100%;
	height: 200px;
}
.b-catalog li .image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-catalog li .content {
	padding: 20px 20px 30px;
}
.b-catalog li .name {
	font-size: 20px;
	font-weight: 500;
	color: #777777;
}
.b-catalog li .text {
	font-size: 15px;
	color: #333333;
	font-weight: 500;
	margin-top: 10px;
}
.b-catalog li .price-wrap {
	margin-top: 10px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-catalog li .price-wrap .price {
	font-size: 21px;
	font-weight: 700;
	margin-right: 10px;
	white-space: nowrap;
}
.b-catalog li .price-wrap .price-option {
	font-size: 14px;
	font-weight: 700;
	color: #777777;
}
.b-catalog li .btn {
	max-width: 126px;
	position: absolute;
	left: 20px;
	bottom: -20px;
}
.b-catalog.slider .slick-arrow {
	display: block;
	font-size: 0;
	border: 0;
	width: 16px;
	height: 31px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	position: absolute;
	top: calc(50% - 15.5px);
}
.b-catalog.slider .slick-arrow:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.b-catalog.slider .slick-next {
	background-image: url('../i/b-tech-next.svg');
	right: -21px;
}
.b-catalog.slider .slick-prev {
	background-image: url('../i/b-tech-prev.svg');
	left: -21px;
}
.catalog-btn {
	display: block;
	width: 100%;
	max-width: 185px;
	text-align: center;
	padding: 12px 10px;
	background-color: #b84583;
	border-radius: 3px;
	font-size: 21px;
	font-weight: 600;
	color: #ffffff;
	position: absolute;
	right: 30px;
	top: -5px;
}
.catalog-btn:hover {
	background-color: #9e3b70;
}
.catalog-btn span {
	display: inline-block;
	padding-left: 40px;
	position: relative;
}
.catalog-btn span:before {
	content: '';
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('../i/price-icon.svg');
	position: absolute;
	left: 0;
	top: calc(50% - 12.5px);
}

.b-tech-title {
	display: block;
	font-size: 22px;
	font-weight: 500;
	color: #b5b5b5;
	margin-top: 20px;
}
.b-tech {
	margin-top: 30px;
	position: relative;
}
.b-tech .slick-arrow {
	display: block;
	font-size: 0;
	border: 0;
	width: 16px;
	height: 31px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	position: absolute;
	top: calc(50% - 15.5px);
}
.b-tech .slick-arrow:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.b-tech .slick-next {
	background-image: url('../i/b-tech-next.svg');
	right: -21px;
}
.b-tech .slick-prev {
	background-image: url('../i/b-tech-prev.svg');
	left: -21px;
}
.b-tech .slick-track {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.b-tech .b-tech-item {
	margin: 15px 15px 20px;
	position: relative;
	text-align: left;
	height: auto;
	background-color: #e1e1e1;
}
.b-tech-item .image {
	position: relative;
	width: 100%;
	height: 210px;
	background-color: #f5f5f5;
}
.b-tech-item.attention .image:before {
	content: '';
	width: 0;
	height: 0;
	border: 26px solid #fad71f;
	border-bottom-color: transparent;
	border-left-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
}
.b-tech-item.attention .image:after {
	content: '!';
	font-size: 27px;
	font-weight: 700;
	color: #31434e;
	line-height: 1;
	position: absolute;
	top: 3px;
	right: 10px;
}
.b-tech-item .image img {
	display: block;
	max-width: 100%;
	max-height: calc(100% + 30px);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-tech-item .content {
	padding: 15px 20px 35px;
}
.b-tech-item .name {
	font-size: 20px;
	font-weight: 900;
}
.b-tech-item .btn {
	max-width: 110px;
	position: absolute;
	left: 20px;
	bottom: -20px;
}

.b-text-img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	text-align: left;
}
.b-text-img .text {
	width: calc(100% - 500px);
}
.b-text-img .text .b-text {
	margin-top: 30px;
}
.b-text-img .image {
	width: 100%;
	max-width: 500px;
	position: relative;
}
.b-text-img .image img {
	display: block;
	max-width: 100%;
	margin-left: auto;
}

.b-advs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-advs > li {
	width: calc(100%/3 - 30px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-right: 45px;
	margin-top: 40px;
}
.b-advs > li:nth-child(3n) {
	margin-right: 0;
}
.b-advs > li .image {
	width: 100px;
	height: 100px;
}
.b-advs > li .image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.b-advs > li .content {
	text-align: left;
	width: calc(100% - 120px);
}
.b-advs > li .title {
	font-size: 24px;
	font-weight: 700;
}
.b-advs > li .text {
	margin-top: 5px;
	font-size: 17px;
}

.b-qwestions {
	margin-top: 40px;
}
.b-qwestions > li {
	margin-bottom: 20px;
	text-align: left;
}
.b-qwestions > li:last-child {
	margin-bottom: 0;
}
.b-qwestions > li .qwestion {
	position: relative;
	padding: 20px;
	padding-left: 60px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	cursor: pointer;
}
.b-qwestions > li .qwestion:before {
	content: '';
	width: 28px;
	height: 32px;
	position: absolute;
	left: 20px;
	top: calc(50% - 16px);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('../i/qwestion-icon.svg');
}
.b-qwestions > li .qwestion .text {
	width: calc(100% - 52px);
	font-size: 22px;
	font-weight: 600;
}
.b-qwestions > li .qwestion .icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #4e778e;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-qwestions > li.active .qwestion .icon {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.b-qwestions > li .qwestion .icon:before {
	content: '';
	width: 22px;
	height: 1px;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 0.5px);
	background-color: #4e778e;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-qwestions > li .qwestion .icon:after {
	content: '';
	width: 22px;
	height: 1px;
	position: absolute;
	left: calc(50% - 11px);
	top: calc(50% - 0.5px);
	background-color: #4e778e;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-qwestions > li.active .qwestion .icon:after {
	opacity: 0;
}
.b-qwestions > li .answer {
	background-color: #ffffff;
	font-size: 16px;
	padding: 0 20px;
	overflow: hidden;
	height: 0;
}
.b-qwestions > li .answer .text {
	padding: 15px 0;
}

.b-clients {
	margin-top: 30px;
	position: relative;
}
.b-clients .slick-arrow {
	display: block;
	font-size: 0;
	border: 0;
	width: 16px;
	height: 31px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	position: absolute;
	top: calc(50% - 15.5px);
}
.b-clients .slick-next {
	background-image: url('../i/b-tech-next.svg');
	right: -21px;
}
.b-clients .slick-prev {
	background-image: url('../i/b-tech-prev.svg');
	left: -21px;
}
.b-client {
	height: 130px;
	position: relative;
	margin: 0 15px;
	background-color: #f5f5f5;
}
.b-client.dark {
	background-color: #c2c2c2;
}
.b-client img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.b-works {
	margin-top: 50px;
}
.b-works .title-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-works .title-wrap .b-title {
	margin-right: 20px;
}
.b-works .title-wrap .inst-a {
	display: block;
	position: relative;
	padding-left: 45px;
	font-size: 24px;
	font-weight: 700;
}
.b-works .title-wrap .inst-a img {
	display: block;
	max-width: 37px;
	max-height: 37px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-works .title-wrap .inst-a span {
	border-bottom: 1px solid #31434e;
	opacity: 0.4;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-works .title-wrap .inst-a:hover span {
	opacity: 0.6;
}
.b-works ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-works ul li {
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-top: 30px;
}
.b-works ul li:nth-child(4n) {
	margin-right: 0;
}
.b-works ul li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-banners {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-banners .action {
	width: 100%;
	max-width: 290px;
}
.b-banners .action img {
	display: block;
	max-width: 100%;
}
.b-banners .banner-slider {
	width: calc(100% - 320px);
	position: relative;
	padding-bottom: 30px;
}
.b-banners .banner-slider .slick-arrow {
	display: block;
	font-size: 0;
	border: 0;
	width: 16px;
	height: 31px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	position: absolute;
	z-index: 10;
	top: calc(50% - 30.5px);
}
.b-banners .banner-slider .slick-arrow:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.b-banners .banner-slider .slick-next {
	background-image: url('../i/b-tech-next.svg');
	right: 15px;
}
.b-banners .banner-slider .slick-dots {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
.b-banners .banner-slider .slick-dots li {
	margin: 0 4px;
}
.b-banners .banner-slider .slick-dots li button {
	display: block;
	width: 12px;
	height: 12px;
	font-size: 0;
	border: 0;
	border-radius: 50%;
	background-color: #e1e1e1;
}
.b-banners .banner-slider .slick-dots li.slick-active button {
	background-color: #51b2e8;
}
.b-banners .banner-slider .slick-prev {
	background-image: url('../i/b-tech-prev.svg');
	left: 15px;
}
.b-banners .banner-slide img {
	display: block;
	max-width: 100%;
}

.filter-wrap {
	margin-top: 20px;
}
.b-filter {
	position: relative;
	text-align: left;
}
.b-filter .text {
	display: none;
	padding: 15px 40px 15px 15px;
	font-size: 16px;
	font-weight: 700;
	color: #333333;
	position: relative;
	background-color: #e1e1e1;
	cursor: pointer;
}
.b-filter .text:before {
	content: '';
	width: 10px;
	height: 16px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/step-arr.svg');
	position: absolute;
	right: 15px;
	top: calc(50% - 8px);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-filter.active .text:before {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.b-filter .text span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}
.b-filter ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-filter ul li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-top: 10px;
	padding: 13px 15px;
	font-size: 19px;
	font-weight: 700;
	color: #333333;
	position: relative;
	background-color: #e1e1e1;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-filter ul li:nth-child(4n) {
	margin-right: 0;
}
.b-filter ul li:hover {
	background-color: #c1c1c1;
}
.b-filter ul li.active {
	background-color: #4e778e;
	color: #ffffff;
}
.filter-item {
	display: none;
}
.filter-item.active {
	display: block;
}

.b-articles {
	margin-top: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-articles > li {
	position: relative;
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 50px;
	background-color: #e1e1e1;
}
.b-articles > li:nth-child(4n) {
	margin-right: 0;
}
.b-articles > li .image {
	position: relative;
	width: 100%;
	height: 210px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.b-articles > li .image a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.b-articles > li .content {
	padding: 15px 20px 35px;
}
.b-articles > li .name {
	font-size: 20px;
	font-weight: 900;
}
.b-articles > li .btn {
	max-width: 120px;
	position: absolute;
	left: 20px;
	bottom: -20px;
}

.back-a {
	display: inline-block;
	color: #b5b5b5;
	font-weight: 500;
	border-bottom: 1px solid #b5b5b5;
	font-size: 22px;
	margin-top: 10px;
}
.back-a:hover {
	border-color: transparent;
}

.b-article .item {
	margin-top: 50px;
}
.b-article .item.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-article .item.flex .content {
	width: calc(100% - 500px);
}
.b-article .item.flex .image {
	width: 100%;
	max-width: 450px;
}
.b-article .item .image img {
	display: block;
	max-width: 100%;
}
.b-article .item.flex .image img {
	margin-left: auto;
}
.b-article .item .title {
	display: block;
	font-size: 26px;
	font-weight: 700;
}
.b-article .item .b-text {
	margin-top: 30px;
}

.b-tech-list {
	margin-top: 10px;
}
.b-tech-list > li {
	padding: 40px 0;
	border-bottom: 1px solid #e7e7e7;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-tech-list > li:last-child {
	border: 0;
}
.b-tech-list > li .image {
	position: relative;
	width: calc(50% - 15px);
}
.b-tech-list > li .image img {
	display: block;
	max-width: 100%;
}
.b-tech-list > li .content {
	width: calc(50% - 15px);
	text-align: left;
}
.b-tech-list > li .name {
	display: block;
	font-size: 26px;
	font-weight: 700;
}
.b-tech-list > li .text {
	margin-top: 15px;
	font-size: 16px;
	color: #333333;
}
.b-tech-list > li .price {
	font-size: 20px;
	font-weight: 700;
	color: #333333;
	margin-top: 20px;
}
.b-tech-list > li .btn {
	max-width: 160px;
	font-size: 20px;
	margin-top: 20px;
}

.first-ekr {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 165px 0 50px;
	color: #ffffff;
	text-align: left;
}
.first-ekr:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(43, 58, 67, 0.8);
}
.first-ekr .wrap {
	padding: 150px 0;
}
.first-ekr .title {
	display: block;
	font-size: 56px;
	font-weight: 700;
}
.first-ekr .text {
	display: block;
	font-size: 30px;
	margin-top: 30px;
}

.b-svai-items .item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.b-svai-items .item:last-child {
	margin-bottom: 0;
}
.b-svai-items .item .text {
	width: calc(50% - 20px);
	text-align: left;
	font-size: 18px;
}
.b-svai-items .item:nth-child(even) .text {
	order: 1;
}
.b-svai-items .item .text p {
	display: block;
}
.b-svai-items .item .text h3 {
	display: block;
	font-size: 32px;
	font-weight: 700;
}
.b-svai-items .item .image {
	width: calc(50% - 20px);
}
.b-svai-items .item .images {
	width: calc(50% - 20px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-svai-items .item .image img {
	display: block;
	max-width: 100%;
}
.b-svai-items .item .images img {
	display: block;
	max-width: calc(50% - 15px);
}

.b-gal {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.b-gal li {
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 30px;
}
.b-gal li:nth-child(4n) {
	margin-right: 0;
}
.b-gal li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-about-slider {
	position: relative;
	padding-bottom: 30px;
	margin-top: 30px;
}
.b-about-slider .slick-arrow {
	display: block;
	font-size: 0;
	border: 0;
	width: 16px;
	height: 31px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	position: absolute;
	z-index: 10;
	top: calc(50% - 30.5px);
}
.b-about-slider .slick-arrow:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.b-about-slider .slick-next {
	background-image: url('../i/b-tech-next.svg');
	right: -30px;
}
.b-about-slider .slick-prev {
	background-image: url('../i/b-tech-prev.svg');
	left: -30px;
}
.b-about-slider .slick-dots {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}
.b-about-slider .slick-dots li {
	margin: 0 4px;
}
.b-about-slider .slick-dots li button {
	display: block;
	width: 12px;
	height: 12px;
	font-size: 0;
	border: 0;
	border-radius: 50%;
	background-color: #e1e1e1;
}
.b-about-slider .slick-dots li.slick-active button {
	background-color: #51b2e8;
}
.b-about-slider li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-title-inst {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-title-inst .b-title {
	margin-right: 20px;
}
.b-title-inst {
	margin-bottom: 40px;
}
.b-title-inst .inst-a {
	display: inline-block;
	position: relative;
	padding-left: 45px;
	font-size: 24px;
	font-weight: 700;
}
.b-title-inst .inst-a img {
	display: block;
	max-width: 37px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-title-inst .inst-a span {
	border-bottom: 1px solid #31434e;
	opacity: 0.4;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-title-inst .inst-a:hover span {
	opacity: 0.6;
}

.b-form {
	margin: 0 auto;
	width: 100%;
	max-width: 410px;
}
.b-input {
	margin-bottom: 15px;
}
.b-input input, .b-input textarea {
	display: block;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	padding: 11px 15px;
	font-size: 18px;
	color: #31434e;
	font-family: 'FuturaNew', sans-serif;
}
.b-form .btn {
	font-size: 20px;
	padding: 12px 10px;
	font-weight: 700;
}

.popup {
	background-color: #ffffff;
	width: 95%;
	max-width: 500px;
	text-align: center;
	padding: 0;
}
.popup.popup-policy {
	text-align: left;
	max-width: 760px;
}
.popup .title {
	display: block;
	font-size: 20px;
	font-weight: 700;
}
.popup .title-wrap {
	background-color: #4e778e;
	padding: 12px 60px;
	color: #ffffff;
}
.popup .content {
	padding: 30px;
}
.popup.popup-policy .content {
	padding: 50px 30px;
}
.popup .fancybox-button.fancybox-close-small {
	display: block;
	width: 50px;
	height: 50px;
	opacity: 1;
	background-color: #b84583;
}
.popup .fancybox-button.fancybox-close-small svg path {
	fill: #ffffff !important;
}
.popup .b-text h3, .popup .b-text h4 {
	font-size: 20px;
}
.popup .b-text {
	font-size: 14px;
	margin-top: 15px;
}

.b-policy .b-text {
	margin-top: 30px;
}

.b-thanks {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-height: calc(100vh - 165px);
	padding: 50px 0;
}
.b-thanks .title {
	display: block;
	font-weight: 700;
	font-size: 50px;
}
.b-thanks .subtitle {
	font-size: 24px;
	margin-top: 15px;
}




@media screen and (max-width: 1280px){
	.face .title {
		font-size: 42px;
	}
	.face .title span {
		border-width: 8px;
	}

	.b-steps ul li {
		display: block;
	}
	.b-steps ul li img {
		margin-right: auto;
		margin-bottom: 10px;
	}

	.b-catalog li {
		width: calc(100%/3 - 20px);
	}
	.b-catalog li:nth-child(4n) {
		margin-right: 30px;
	}
	.b-catalog li:nth-child(3n) {
		margin-right: 0;
	}

	.b-tech, .b-clients, .b-catalog.slider {
		padding: 0 21px;
	}
	.b-tech .slick-prev, .b-clients .slick-prev, .b-catalog.slider .slick-prev {
		left: 0;
	}
	.b-tech .slick-next, .b-clients .slick-next, .b-catalog.slider .slick-next {
		right: 0;
	}

	.b-advs > li {
		width: calc(100%/3 - 20px);
		margin-right: 30px;
	}

	.filter-wrap {
		margin-top: 20px;
	}
	.b-filter ul {
		justify-content: space-between;
	}
	.b-filter ul li {
		width: calc(50% - 5px);
		margin-top: 10px;
		margin-right: 0;
	}

	.b-articles > li {
		width: calc(100%/3 - 20px);
	}
	.b-articles > li:nth-child(4n) {
		margin-right: 30px;
	}
	.b-articles > li:nth-child(3n) {
		margin-right: 0;
	}

	.b-article .item.flex .content {
		width: calc(100% - 380px);
	}
	.b-article .item.flex .image {
		max-width: 350px;
	}

	.first-ekr .title {
		font-size: 42px;
	}
	.first-ekr .text {
		font-size: 24px;
	}

	.b-about-slider {
		padding: 0 30px 30px;
	}
	.b-about-slider .slick-prev {
		left: 0;
	}
	.b-about-slider .slick-next {
		right: 0;
	}
}
@media screen and (max-width: 1024px){
	.header-logo {
		max-width: 240px;
	}
	.header-bot .nav li {
		margin-right: 20px;
	}

	.body-wrap.cont .footer-contacts {
		min-height: calc(100vh - 157px);
	}

	.face .title {
		font-size: 36px;
	}
	.face .title span {
		border-width: 4px;
	}
	.face {
		padding: 157px 0 50px;
	}

	.b-text-img .text {
		width: calc(100% - 350px);
	}
	.b-text-img .image {
		max-width: 350px;
	}

	.b-advs {
		justify-content: space-between;
	}
	.b-advs > li {
		width: calc(50% - 25px);
		margin-right: 0;
	}

	.b-works ul li {
		width: calc(100%/3 - 20px);
	}
	.b-works ul li:nth-child(4n) {
		margin-right: 30px;
	}
	.b-works ul li:nth-child(3n) {
		margin-right: 0;
	}

	.b-banners .action {
		max-width: 200px;
	}
	.b-banners .banner-slider {
		width: calc(100% - 230px);
	}

	.first-ekr {
		padding: 157px 0 50px;
	}
	.first-ekr .title {
		font-size: 36px;
	}
	.first-ekr .text {
		font-size: 18px;
	}

	.b-thanks {
		min-height: calc(100vh - 157px);
	}
}
@media screen and (max-width: 920px){
	.b-catalog {
		justify-content: space-between;
	}
	.b-catalog li {
		width: calc(50% - 15px);
		margin-right: 0;
	}
	.b-catalog li:nth-child(4n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 768px){
	.btn.btn-circle {
		padding: 15px 10px;
	}

	.ekr {
		padding: 30px 0;
	}
	.ekr.ekr-left.mobile-center {
		text-align: center;
	}
	.ekr.mobile-grey {
		background-color: #f5f5f5;
	}

	.b-title {
		font-size: 28px;
	}

	.header-top {
		padding: 15px 0;
	}
	.header-top .wrap {
		display: block;
	}
	.header-logo {
		max-width: 274px;
		margin: 0 auto;
	}
	.header-bot, .header-callback {
		display: none;
	}
	.header-mobile {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.footer-contacts {
		padding: 0;
		background-color: #4e778e;
	}
	.body-wrap.cont .footer-contacts {
		min-height: calc(100vh - 145px);
	}
	.footer-contacts .map {
		display: none;
	}
	.footer-contacts .wrap {
		padding: 20px 10px;
		border: 0;
		max-width: none;
	}

	.face {
		padding: 145px 0 0;
	}
	.face .wrap {
		display: block;
	}
	.face .content {
		width: 100%;
	}
	.face .title {
		font-size: 27px;
	}
	.face .title span {
		border-width: 2px;
	}
	.face .image {
		display: none;
	}

	.b-steps .wrap {
		display: block;
		width: auto;
		background-color: transparent;
		box-shadow: none;
		margin: 0 -10px;
		border-top: 10px solid #51b2e8;
		padding: 0;
	}
	.b-steps ul {
		display: block;
	}
	.b-steps ul li {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		width: 100%;
	}
	.b-steps ul li:before {
		content: none;
	}
	.b-steps ul li:nth-child(odd) {
		background-color: #f6f6f6;
	}
	.b-steps ul li img {
		margin: 0;
	}
	.b-steps ul li .text {
		width: calc(100% - 90px);
	}

	.b-catalog {
		display: block;
		margin: 30px auto 0;
	}
	.b-catalog li {
		width: 100%;
		max-width: 290px;
		margin: 0 auto 50px;
	}
	.b-catalog li:nth-child(4n),
	.b-catalog li:nth-child(3n) {
		margin-right: auto;
	}
	.b-catalog li .price-wrap {
		display: block;
	}
	.b-catalog li .price-wrap .price {
		margin-right: 0;
	}
	.b-catalog li .price-wrap .price-option {
		margin-top: 5px;
	}
	.catalog-btn {
		position: relative;
		right: 0;
		top: 0;
		margin: 0 auto;
	}

	.b-tech-title {
		display: none;
	}
	.b-tech {
		margin-top: 20px;
	}
	.b-tech .b-tech-item {
		text-align: center;
	}
	.b-tech-item .btn {
		left: calc(50% - 55px);
	}

	.b-text-img {
		display: block;
	}
	.b-text-img .text {
		width: 100%;
	}
	.b-text-img .image {
		display: none;
	}

	.b-advs {
		display: block;
	}
	.b-advs > li {
		width: 100%;
		margin: 30px auto 0;
	}
	.b-advs > li:nth-child(3n) {
		margin-right: auto;
	}
	.b-advs > li .content {
		width: calc(100% - 115px);
	}
	.b-advs > li .title {
		font-size: 19px;
	}
	.b-advs > li .text {
		font-size: 15px;
	}

	.b-qwestions {
		margin-top: 20px;
	}
	.b-qwestions > li .qwestion {
		padding-left: 50px;
	}
	.b-qwestions > li .qwestion:before {
		left: 10px;
	}
	.b-qwestions > li .qwestion .text {
		width: calc(100% - 40px);
		font-size: 20px;
		font-weight: normal;
	}

	.b-works {
		margin: 30px -10px 0;
		padding: 26px 10px 0;
		position: relative;
		border-top: 1px solid #e8e8e8;
	}
	.b-works .title-wrap {
		justify-content: center;
	}
	.b-works .title-wrap .b-title {
		display: none;
	}
	.b-works ul {
		justify-content: space-between;
	}
	.b-works ul li {
		width: calc(50% - 10px);
		margin-top: 20px;
		margin-right: 0;
	}
	.b-works ul li:nth-child(4n) {
		margin-right: 0;
	}

	.b-banners {
		display: block;
	}
	.b-banners .action {
		max-width: 290px;
		margin: 0 auto 20px;
	}
	.b-banners .banner-slider {
		width: 100%;
		padding-bottom: 20px;
	}
	.b-banners .banner-slider .slick-arrow {
		width: 10px;
		height: 20px;
		top: calc(50% - 20px);
	}
	.b-banners .banner-slider .slick-dots li button {
		width: 10px;
		height: 10px;
	}

	.b-filter {
		max-width: 290px;
		margin: 0 auto;
	}
	.b-filter .text {
		display: block;
	}
	.b-filter ul {
		display: none;
		width: 100%;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 10;
		border-top: 1px solid #2c3c46;
	}
	.b-filter.active ul {
		display: block;
	}
	.b-filter ul li {
		width: 100%;
		margin: 0 auto;
		font-size: 14px;
		padding: 5px 10px;
	}

	.b-articles {
		justify-content: space-between;
		margin-top: 30px;
	}
	.b-articles > li {
		width: calc(50% - 10px);
		margin-bottom: 40px;
		margin-right: 0;
	}
	.b-articles > li:nth-child(4n) {
		margin-right: 0;
	}
	.b-articles > li .btn {
		left: calc(50% - 60px);
	}

	.b-article .item {
		margin-top: 30px;
	}
	.b-article .item.flex {
		display: block;
	}
	.b-article .item.flex .content {
		width: 100%;
	}
	.b-article .item.flex .image {
		max-width: none;
		margin-top: 20px;
	}
	.b-article .item.flex .image img {
		margin: 0 auto;
	}
	.b-article .item .b-text {
		margin-top: 20px;
	}

	.b-tech-list > li {
		display: block;
		padding: 20px 0;
	}
	.b-tech-list > li .image {
		width: 100%;
		margin-bottom: 20px;
	}
	.b-tech-list > li .image img {
		margin: 0 auto;
		max-height: 300px;
	}
	.b-tech-list > li .content {
		width: 100%;
	}

	.first-ekr {
		padding: 145px 0 0;
	}
	.first-ekr .wrap {
		padding: 70px 0;
	}
	.first-ekr .title {
		font-size: 27px;
	}
	.first-ekr .text {
		font-size: 16px;
		margin-top: 20px;
	}

	.b-svai-items .item {
		display: block;
		margin-bottom: 30px;
	}
	.b-svai-items .item .text {
		width: 100%;
	}
	.b-svai-items .item .image, .b-svai-items .item .images {
		width: 100%;
		margin-top: 20px;
	}
	.b-svai-items .item .images {
		justify-content: flex-start;
	}
	.b-svai-items .item .image img,
	.b-svai-items .item .images img {
		max-height: 300px;
	}
	.b-svai-items .item .images img {
		max-width: calc(50% - 5px);
		margin-right: 10px;
	}
	.b-svai-items .item .images img:last-child {
		margin-right: 0;
	}

	.b-gal {
		justify-content: space-between;
	}
	.b-gal li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		margin-right: 0;
	}
	.b-gal li img {
		max-height: 300px;
	}

	.b-about-slider {
		padding: 0 20px 20px;
	}
	.b-about-slider .slick-arrow {
		width: 10px;
		height: 20px;
		top: calc(50% - 20px);
	}
	.b-about-slider .slick-dots li button {
		width: 10px;
		height: 10px;
	}

	.b-title-inst {
		display: block;
		margin-bottom: 20px;
	}
	.b-title-inst .b-title {
		margin: 0 auto;
	}
	.b-title-inst .inst-a {
		margin-top: 20px;
	}

	.popup .title-wrap {
		padding-left: 0;
	}
	.popup .content {
		padding: 15px;
	}
	.popup.popup-policy .content {
		padding: 50px 15px 30px;
	}

	.b-thanks {
		min-height: calc(100vh - 145px);
	}
	.b-thanks .title {
		font-size: 28px;
	}
	.b-thanks .subtitle {
		font-size: 16px;
		margin-top: 10px;
	}
}
@media screen and (max-width: 560px){
	.b-works ul {
		display: block;
	}
	.b-works ul li {
		width: 100%;
		margin: 15px auto 0 !important;
	}
	.b-works ul li img {
		max-height: 300px;
	}

	.b-articles {
		display: block;
	}
	.b-articles > li {
		width: 100%;
		max-width: 290px;
		margin: 0 auto 40px !important;
	}

	.b-gal {
		display: block;
	}
	.b-gal li {
		width: 100%;
		margin: 0 auto 20px !important;
	}
}